<header class="col-md-12">
    <div class="row">
      <span class="col-md-8" style="text-align: center;">
        <a href="/index.html">
        <img src="https://akashacms.com/logo.gif" width="100px" align="left"/></a>
        <h1 align="center"><%= title %></h1>
      </span>
      <span class="col-md-4">
        <form method="get" id="ddgSearch" action="https://duckduckgo.com/">
            <input type="hidden" name="sites" value="akashacms.github.io"/>
            <input type="hidden" name="k7" value="#ffffff"/>
            <input type="hidden" name="k8" value="#222222"/>
            <input type="hidden" name="k9" value="#00278e"/>
            <input type="hidden" name="kx" value="#20692b"/>
            <input type="hidden" name="kj" value="#fafafa"/>
            <input type="hidden" name="kt" value="p"/>
            <input type="text" name="q" size="30"
                    placeholder="Search AkashaCMS GitHub"
                    aria-label="Search AkashaCMS GitHub on DuckDuckGo"/>
            <button type="submit">Search</button>
        </form>

        <form method="get" id="ddgSearch" action="https://duckduckgo.com/">
            <input type="hidden" name="sites" value="akashacms.com"/>
            <input type="hidden" name="k7" value="#ffffff"/>
            <input type="hidden" name="k8" value="#222222"/>
            <input type="hidden" name="k9" value="#00278e"/>
            <input type="hidden" name="kx" value="#20692b"/>
            <input type="hidden" name="kj" value="#fafafa"/>
            <input type="hidden" name="kt" value="p"/>
            <input type="text" name="q"  size="30"
                    placeholder="Search AkashaCMS.com"
                    aria-label="Search AkashaCMS.com on DuckDuckGo"/>
            <button type="submit">Search</button>
        </form>
      </span>
    </div>
  
  </header>
  